asgiref
attrs
certifi
charset-normalizer
djangify
django
django-admin-interface
django-ckeditor
django-colorfield
django-debug-toolbar
django-flat-responsive
django-flat-theme
django-js-asset
gunicorn
idna
isodate
lxml
mysqlclient
Pillow
platformdirs
psycopg2-binary
python-dotenv
pytz
requests
requests-file
requests-toolbelt
six
sqlparse
urllib3
whitenoise
zeep
