asgiref
attrs
certifi
charset-normalizer
dj-database-url
djangify
Django
django-admin-interface
django-ckeditor
django-colorfield
django-debug-toolbar
django-environ
django-flat-responsive
django-flat-theme
django-js-asset
django-widget-tweaks
gunicorn
idna
isodate
lxml
mysqlclient
Pillow
platformdirs
psycopg2-binary
python-dotenv
pytz
requests
requests-file
requests-toolbelt
six
sqlparse
typing_extensions
urllib3
whitenoise
zeep
