asgiref
djangify
Django
django-admin-interface
django-ckeditor
django-colorfield
django-flat-responsive
django-flat-theme
django-js-asset
gunicorn
mysqlclient
Pillow
python-dotenv
six
sqlparse
whitenoise
