{% extends "base.html" %}
{% load static %}

{% block title %}Évements{% endblock title %}

{% block special_css %}
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock special_css %}

{% block special_js %}
    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock special_js %}

{% block sidebar %}
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'agent_deposit:home' %}">
            <div class="sidebar-brand-text mx-3">AGENT DEPOSIT</div>
        </a>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'agent_deposit:home' %}">
                <i class="fas fa-home"></i>
                <span>Accueil</span>
            </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading">Transactions</div>
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <i class="fas fa-money-check"></i>
                <span>Dépots</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Modes de paiements</h6>
                    <a class="collapse-item" href="{% url 'agent_deposit:liquide' %}">Versement Espèce</a>
                    <a class="collapse-item" href="{% url 'agent_deposit:virement' %}">Virement</a>
                    <a class="collapse-item" href="{% url 'agent_deposit:cheque' %}">Remise Chèque</a>
                </div>
            </div>
        </li>
        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'agent_deposit:retrait' %}">
                <i class="fas fa-money-bill-wave"></i>
                <span>Retraits</span>
            </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading">Retracement</div>
        <!-- Nav Item - Pages Collapse Menu -->
        <!-- Nav Item - Charts -->
        <li class="nav-item  active">
            <a class="nav-link" href="{% url 'agent_deposit:evenement' %}">
                <i class="fas fa-history"></i>
                <span>Évenements</span></a>
        </li>
        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'agent_deposit:historique' %}">
                <i class="fas fa-calendar-alt"></i>
                <span>Historique</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <!-- End of Sidebar -->
{% endblock sidebar %}

{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Évements</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Aujourd'hui</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id de Transaction</th>
                            <th>Code agent</th>
                            <th>Nom</th>
                            <th>Numéro de Téléphone</th>
                            <th>Code de la transaction</th>
                            <th>Montant</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id de Transaction</th>
                            <th>Code agent</th>
                            <th>Nom</th>
                            <th>Numéro de Téléphone</th>
                            <th>Code de la transaction</th>
                            <th>Montant</th>
                            <th>Status</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for evenement in evenements %}
                            <tr>
                                <th>{{evenement.IDevenements}}</th>
                                <th>{{evenement.Msisdn.CodeAgent}}</th>
                                <th>{{evenement.natOrig}}</th>
                                <th>{{evenement.Msisdn.msisdn}}</th>
                                <th>{{evenement.refOrig}}</th>
                                <th>{{evenement.montant}}</th>
                                <th>{{evenement.statutTrt}}</th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}