{% extends "base.html" %}
{% load static %}

{% block title %}Virement Bancaire{% endblock title %}

{% block special_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
{% endblock special_css %}

{% block special_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src=" {% static 'js/international_phone_number.js' %} "></script>
{% endblock special_js %}

{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Virement Bancaire</h1>
    <div class="row justify-content-center">
        <div class="fixed" id="agentform" style="min-width: 400px;">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">Formulaire de virement bancaire</h1>
                                    <p class="mb-4">Veuillez entrer les informations requises</p>
                                </div>
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="form-group col-4">
                                            <label for="id_tel">Opérateur</label>
                                            <select id="inputState" class="form-control" name="operateur">
                                                <option selected>MTN</option>
                                                <option>Orange</option>
                                                <option>Moov</option>
                                            </select>
                                        </div>
                                        <div class="form-group col ml-3">
                                            <label for="id_tel">N° Téléphone</label><br />
                                            <input type="text" class="form-control form-control-user" id="id_tel" placeholder="" name="telephone">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="code-banque">Code de la Banque</label>
                                        <input type="text" class="form-control form-control-user" id="code-banque" placeholder="Entrez le code de la Banque" name="code_banque">
                                    </div>
                                    <div class="form-group">
                                        <label for="code-agence">Code de l'agence</label>
                                        <input type="text" class="form-control form-control-user" id="code-agence" placeholder="Entrez le code de l'agence" name="code_agence">
                                    </div>
                                    <div class="form-group">
                                        <label for="montant">Montant de la transaction</label>
                                        <div class="input-group">
                                            <input type="text" min="0" class="form-control form-control-user" id="montant" placeholder="Entrez le montant de la transaction" name="montant">
                                            <div class="input-group-append">
                                                <span class="input-group-text">XOF</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="identifiant-receveur">Identifiant du receveur</label>
                                        <input type="text" class="form-control form-control-user" id="identifiant-receveur" placeholder="Entrez l'identifiant du receveur" name="identifiant_receveur">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-user btn-block mt-4">Valider</button>
                                </form>
                                <hr>
                                <div class="text-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}