{% extends "base.html" %}
{% load static %}

{% block title %}Virement Bancaire{% endblock title %}

{% block special_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
{% endblock special_css %}

{% block special_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src=" {% static 'js/international_phone_number.js' %} "></script>
{% endblock special_js %}

{% block sidebar %}
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'agent_deposit:home' %}">
            <div class="sidebar-brand-text mx-3">AGENT DEPOSIT</div>
        </a>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'agent_deposit:home' %}">
                <i class="fas fa-home"></i>
                <span>Accueil</span>
            </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading">Transactions</div>
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Dépots</span>
            </a>
            <div id="collapseUtilities" class="collapse show" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Modes de paiements</h6>
                    <a class="collapse-item" href="{% url 'agent_deposit:liquide' %}">Versement Espèce</a>
                    <a class="collapse-item active" href="{% url 'agent_deposit:virement' %}">Virement</a>
                    <a class="collapse-item" href="{% url 'agent_deposit:cheque' %}">Remise Chèque</a>
                </div>
            </div>
        </li>
        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'agent_deposit:retrait' %}">
                <i class="fas fa-money-bill-wave"></i>
                <span>Retraits</span>
            </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading">Retracement</div>
        <!-- Nav Item - Pages Collapse Menu -->
        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'agent_deposit:evenement' %}">
                <i class="fas fa-history"></i>
                <span>Évenements</span></a>
        </li>
        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'agent_deposit:historique' %}">
                <i class="fas fa-calendar-alt"></i>
                <span>Historique</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <!-- End of Sidebar -->
{% endblock sidebar %}

{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Virement Bancaire</h1>
    <div class="row justify-content-center">
        <div class="fixed" id="agentform" style="min-width: 400px;">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">Formulaire de virement bancaire</h1>
                                    <p class="mb-4">Veuillez entrer les informations requises</p>
                                </div>
                                <form action="https://www.google.com/" method="GET">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="form-group col-4">
                                            <label for="id_tel">Opérateur</label>
                                            <select id="inputState" class="form-control">
                                                <option selected>MTN</option>
                                                <option>Orange</option>
                                                <option>Moov</option>
                                            </select>
                                        </div>
                                        <div class="form-group col ml-3">
                                            <label for="id_tel">N° Téléphone</label><br />
                                            <input type="text" class="form-control form-control-user" id="id_tel" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="code-banque">Code de la Banque</label>
                                        <input type="text" class="form-control form-control-user" id="code-banque" name="code_banque" placeholder="Entrez le code de la Banque" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="code-agence">Code de l'agence</label>
                                        <input type="text" class="form-control form-control-user" id="code-agence" name="code_agence" placeholder="Entrez le code de l'agence" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="montant">Montant de la transaction</label>
                                        <div class="input-group">
                                            <input type="text" min="0" class="form-control form-control-user" id="montant" name="montant" placeholder="Entrez le montant de la transaction" disabled>
                                            <div class="input-group-append">
                                                <span class="input-group-text">XOF</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="identifiant-receveur">Identifiant du receveur</label>
                                        <input type="text" class="form-control form-control-user" id="identifiant-receveur" name="identifiant_receveur" placeholder="Entrez l'identifiant du receveur" disabled>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-user btn-block mt-4">Valider</button>
                                </form>
                                <hr>
                                <div class="text-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}