{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Page Heading -->
<div class="row justify-content-center">
    <div class="fixed" id="agentform" style="min-width: 400px; max-width: 500px;">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-2">Changer de mot de passe</h1>
                                <p class="mb-5">Veillez renseigner les informations requises</p>
                            </div>
                            <form method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div class="form-row">
                                    <div class="col">
                                        <a href="{% url 'account:profil' %}" class="btn btn-danger btn-user btn-block mt-4">← Profil</a>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-primary btn-user btn-block mt-4">Valider</button>
                                    </div>
                                </div>
                            </form>
                            <hr>
                            <div class="text-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
